/* Write your CSS here */
.container {
  height: 100vh;
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  height: 500px;
  width: 700px;
  background-image: linear-gradient(#2b2c49, #b5bff9);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}
